@if (products().length === 0 && loading()) {
  <!-- show spinner only on first load -->
  <div class="spinner-container">
    <div class="spinner"></div>
    <p>Loading products...</p>
  </div>
} @else {
  <div>
    <section class="text-center container mt-3">
      <div class="col-lg-4 mx-auto">
        <div class="img-wrap">
          <img
            class="img-fluid"
            src="https://media.istockphoto.com/id/475831000/photo/family-in-the-amusement-park.jpg?s=2048x2048&w=is&k=20&c=yIZvHy2YRqO79apERzbEGPECZ0atOkgmPsxLz7K1tZ8="
          />
        </div>
      </div>
    </section>

    <div class="mb-5"></div>

    <!-- product grid -->
    <div class="row">
      @for (product of products(); track product.id) {
        <div class="col-md-3">
          <div
            class="row d-flex justify-content-center g-1"
            style="cursor: pointer;"
            (click)="goToProductDetails(product.id)"
          >
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/310px-Placeholder_view_vector.svg.png"
              class="img-fluid"
            />
            <div class="product text-center">
              <div class="bottom-wrap text-center mt-3">
                <span class="small">New Arrival</span>
                <h5 class="fs-6">{{ product.name }}</h5>
                <div class="price-wrap h6">
                  <span class="fs-5">${{ product.unitPrice }}</span><br />
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
<!-- pagination -->
    @if (totalPages > 1) {
  <nav class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="page === 1">
        <a class="page-link" (click)="changePage(page - 1)">Prev</a>
      </li>

      @for (num of visiblePages(); track num) {
        <li class="page-item" [class.active]="page === num">
          <a class="page-link" (click)="changePage(num)">{{ num }}</a>
        </li>
      }

      <li class="page-item" [class.disabled]="page === totalPages">
        <a class="page-link" (click)="changePage(page + 1)">Next</a>
      </li>
    </ul>
  </nav>
}
  </div>
}
