<div class="container my-5">
  <!-- Loading state -->
   @if (loading){
    <div class="text-center my-5">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
   }

  <!-- Error state -->
   @if(!loading){
  <div>
    <p class="text-danger text-center mt-5">{{ errorMessage }}</p>
  </div>
   }

  <!-- Product details -->
   @if(product) {
  <div class="row g-4">
    <!-- Product Image -->
    <div class="col-md-6 text-center">
      <img 
        src="https://media.istockphoto.com/id/475831000/photo/family-in-the-amusement-park.jpg?s=2048x2048&w=is&k=20&c=yIZvHy2YRqO79apERzbEGPECZ0atOkgmPsxLz7K1tZ8="  
        class="img-fluid rounded shadow-sm"
        style="max-height: 400px; object-fit: contain;">
    </div>

    <!-- Product Info -->
    <div class="col-md-6">
      <h1 class="display-6 fw-bold">{{ product.name }}</h1>
      <h3 class="text-primary fw-bold my-3">${{ product.unitPrice | currency:'USD':'symbol':'1.2-2' }}</h3>

      <!-- Quantity Selector -->
      <div class="mb-3 d-flex align-items-center">
        <label for="quantity" class="me-2 fw-semibold">Quantity:</label>
        <input type="number" id="quantity" class="form-control quantity-wdith" [(ngModel)]="quantity" min="1">
      </div>

      <!-- Add to Cart Button -->
      <div class="cart mt-4 align-items-center"> 
        <button class="btn btn-danger text-uppercase mr-2 px-4" (click)="addToCart()">Add to cart</button> 
        </div>
    </div>
</div>
 }


